.row{
    align-items: center;
    /* justify-content: center; */
}

.btn {
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
}

.btn:hover{
    background-color: #F88634;
    color: white;
}

.carousel-inner img{
    height: 100vh;
    object-fit: cover;
    max-width: 100%;
}

.login{
    padding-top: 10%;
    color: #414141;
}

.login p span a{
    color: #414141;
    text-decoration: none;

}

.loginnow span a{
    color: blue;
    text-decoration: none;
}


