@{
	ViewData["Title"] = "Story Listing";
}

<partial name="_header.cshtml" />
<partial name="_searchBar.cshtml" />

<div class="container-fluid mainConatiner">
	<div class="divAboveimg">
		<img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
			 alt="Snow"
			 style="width: 100%; height: 300px"
			 class="" />
	</div>

	<div class="centerText fw-bolder">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
		vero ullam enim nesciunt obcaecati dolor? Vel repellat eligendi culpa
		molestias corporis aliquam quidem. Ipsa alias rem quis ratione nam.
		Animi. <br />
		<div class="card-body text-center py-3">
			<a asp-controller="Home" asp-action="ShareStory" class="btn storyBtn px-3 py-2 m-0">
				Share your story &nbsp <b class="bi bi-arrow-right"></b>
			</a>
		</div>
	</div>
</div>


<div class="container my-4">
	<div class="row" id="rowhide">
		<div class="col-lg-4 col-sm-12">
			<div class="card shadow" id="card">
				<div class="myimg">
					<img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
						 class="card-img-top"
						 alt="..." />
				@*<div class="badge-primary storylistingbadge-style rounded-pill">
					<p class="py-1 px-4 m-0">Environment</p>
				</div>*@
				</div>
				<div class="overlay"></div>
				<div class="storybutton">
					<a href="#">View Details <b class="bi bi-arrow-right"></b></a>
				</div>
				
				<div class="card-body">

					<h5 class="card-title">
						Overheard in Product: Good Products, the End of Failure.
					</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Possimus, et!
					</p>
					<div class="userInfo d-flex">
						<img class="rounded-circle"
							 src="~/Assets/volunteer2.png"
							 style="width: 50px; height: 50px"
							 alt="" />
						<p class="d-flex align-items-center mb-0">Charles Vigue</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12">
			<div class="card shadow" id="card">
				<div class="myimg">
					<img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
						 class="card-img-top"
						 alt="..." />
				</div>
				<div class="overlay"></div>
				<div class="storybutton">
					<a href="#">View Details <b class="bi bi-arrow-right"></b></a>
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Overheard in Product: Good Products, the End of Failure.
					</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Possimus, et!
					</p>
					<div class="userInfo d-flex">
						<img class="rounded-circle"
							 src="~/Assets/volunteer2.png"
							 style="width: 50px; height: 50px"
							 alt="" />
						<p class="d-flex align-items-center mb-0">Charles Vigue</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12">
			<div class="card shadow" id="card">
				<div class="myimg">
					<img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
						 class="card-img-top"
						 alt="..." />
				</div>
				<div class="overlay"></div>
				<div class="storybutton">
					<a href="#">View Details <b class="bi bi-arrow-right"></b></a>
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Overheard in Product: Good Products, the End of Failure.
					</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Possimus, et!
					</p>
					<div class="userInfo d-flex">
						<img class="rounded-circle"
							 src="~/Assets/volunteer2.png"
							 style="width: 50px; height: 50px"
							 alt="" />
						<p class="d-flex align-items-center mb-0">Charles Vigue</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row py-4">
		<div class="col-lg-4 col-sm-12">
			<div class="card shadow" id="card">
				<div class="myimg">
					<img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
						 class="card-img-top"
						 alt="..." />
				</div>
				<div class="overlay"></div>
				<div class="storybutton">
					<a href="#">View Details <b class="bi bi-arrow-right"></b></a>
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Overheard in Product: Good Products, the End of Failure.
					</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Possimus, et!
					</p>
					<div class="userInfo d-flex">
						<img class="rounded-circle"
							 src="~/Assets/volunteer2.png"
							 style="width: 50px; height: 50px"
							 alt="" />
						<p class="d-flex align-items-center mb-0">Charles Vigue</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12">
			<div class="card shadow" id="card">
				<div class="myimg">
					<img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
						 class="card-img-top"
						 alt="..." />
				</div>
				<div class="overlay"></div>
				<div class="storybutton">
					<a href="#">View Details <b class="bi bi-arrow-right"></b></a>
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Overheard in Product: Good Products, the End of Failure.
					</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Possimus, et!
					</p>
					<div class="userInfo d-flex">
						<img class="rounded-circle"
							 src="~/Assets/volunteer2.png"
							 style="width: 50px; height: 50px"
							 alt="" />
						<p class="d-flex align-items-center mb-0">Charles Vigue</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-12">
			<div class="card shadow" id="card">
				<div class="myimg">
					<img src="~/Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
						 class="card-img-top"
						 alt="..." />
				</div>
				<div class="overlay"></div>
				<div class="storybutton">
					<a href="#">View Details <b class="bi bi-arrow-right"></b></a>
				</div>
				<div class="card-body">
					<h5 class="card-title">
						Overheard in Product: Good Products, the End of Failure.
					</h5>
					<p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Possimus, et!
					</p>
					<div class="userInfo d-flex">
						<img class="rounded-circle"
							 src="~/Assets/volunteer2.png"
							 style="width: 50px; height: 50px"
							 alt="" />
						<p class="d-flex align-items-center mb-0">Charles Vigue</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<partial name="_pagination.cshtml" />